*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a {
  color: inherit;
}

a:hover {
  text-decoration-color: color-mix(in srgb, var(--text-color), transparent 50%);
}

a:focus-visible {
  outline: solid var(--text-color) 1px; 
}

:root {
  --bg-color: #F3EFEC;
  --accent-color: #FFAB6B;
  --text-color: #312A4E;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', sans-serif;
}

.page {
  min-inline-size: 360px;
  max-inline-size: 1440px;
  min-block-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #000);
  font-family: var(--main-font);
}

.theme_dark {
  --bg-color: #000;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.header {
  padding-block-start: 10%;
}

.header__menu {
  border-block: solid var(--text-color) 1px;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

.header__theme-toggler {
  position: relative;
  margin-block: auto;
}

.header__theme-button {
  font-family: inherit;
  font-size: 18px;
  color: var(--text-color);
  border: none;
  background-color: transparent;
}

.header__theme-button:hover {
  cursor: pointer;
}

.header__theme-button:focus-visible {
  outline: solid var(--text-color) 1px;
}

.header__theme-button:not(.header__theme-button_is-active):hover {
  text-decoration: underline color-mix(in srgb, var(--text-color), transparent 50%) 1px;
}



.header__theme-button_type_dark {

}

.header__theme-button_type_light {

}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: var(--accent-color);
  block-size: 0.3em;
  inline-size: 40%;
  z-index: -1;
  inset: 13px 121px;
}

.theme_dark .theme_dark .header__theme-button_is-active::after {

}

.heading {
  font-family: var(--accent-font);
  text-align: center;
  font-weight: 700;
}

.content-section {
  padding-inline: 5vi;
  
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.content__title {
  font-size: 30px;
  padding-block: 7% 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-child) {
  padding-block-end: 1.5em;
}

.content__blockquote {
  inline-size: 75%;
  margin-block-end: 1.5em;
  font-style: italic;
  text-align: left;
  margin-inline: auto;
  line-height: 2em;
}

.content__list li {
  position: relative;
  list-style: none;
  padding-inline-start: 40px;
}

.content__list li:not(:last-child) {
  margin-block-end: 10px;
}

.content__list li::before {
  position: absolute;
  inset: 0 10px;
  content: '';
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-image: url("/images/marker-light.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.theme_dark .content__list li::before {
  background-image: url("/images/marker-dark.svg");
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
   background-color: var(--accent-color);
   display: inline-block;
   width: 100px;
   font-size: 30px;
   font-weight: 700;
   padding: 0 4px;
   margin-right: 1px;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: solid var(--text-color) 1px;
}

.content__figure {
  margin-block: 7%;
  inline-size: calc(100% + 5vi * 2);
  position: relative;
  inset: 0 -5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  font-size: 18px;
  text-align: center;
  padding-block: 20px;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid var(--text-color) 1px;
  block-size: calc(3 / 4 * 90vi);
  margin-block-start: 7%;
}

.content__card-title {
  position: relative;
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 16px;
}

.colored-text::after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: var(--accent-color);
  block-size: 0.3em;
  inline-size: 54%;
  z-index: -1;
  inset: 40px 194px;
}

.footer {
  margin-block-start: 10%;
  padding: 2.5%;
  border-block-start: solid var(--text-color) 1px;
}

.footer__copyright {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
}