*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a {
  color: inherit;
}

:root {
  --bg-color: #F3EFEC;
  --accent-color: #FFAB6B;
  --text-color: #312A4E;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', sans-serif;
}

.page {
  /* display: flex;
  flex-direction: column; */
  min-inline-size: 360px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #000);
  font-family: var(--main-font);
}

.header {
  padding-block-start: 10%;
}

.heading {
  font-family: var(--accent-font);
  text-align: center;
  font-weight: 700;
}

.content-section {
  padding-inline: 5vi;
  
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.content__title {
  font-size: 30px;
  padding-block: 7% 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block > .content__paragraph:not(:last-child) {
  padding-block-end: 1.5em;
}

.content__blockquote {
  inline-size: 75%;
  margin-block-end: 1.5em;
  font-style: italic;
  text-align: left;
  margin-inline: auto;
  line-height: 2em;
}

.content__list li {
  position: relative;
  list-style: none;
  padding-inline-start: 40px;
}

.content__list li:not(:last-child) {
  margin-block-end: 10px;
}

.content__list li::before {
  position: absolute;
  inset: 0 10px;
  content: '';
  display: inline-block;
  margin-block: auto;
  inline-size: 15px;
  block-size: 15px;
  background-image: url("/images/marker-light.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
   background-color: var(--accent-color);
   display: inline-block;
   width: 100px;
   font-size: 30px;
   font-weight: 700;
   padding: 0 4px;
   margin-right: 1px;
}

.content__figure {
  margin-block: 7%;
  inline-size: calc(100% + 5vi * 2);
  position: relative;
  inset: 0 -5vi;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  font-size: 18px;
  text-align: center;
  padding-block: 20px;
  border-block-end: solid var(--text-color) 1px;
}

.content__card {
  display: flex;
  flex-direction: column;
  margin-block: auto;

  block-size: 1080px;
  border: solid var(--text-color) 1px;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  text-align: center;
}
